.wrap-powerbi{
    overflow: hidden;
    height: 600px;
    min-height: calc(100% - 123px);
    width: 100%;
    border: solid 1px rgba(128, 128, 128, 0.205);

    .iframe-bottom{
        background-color: none transparent;
        height:calc(100% + 60px);
        width: 100%;
    }
}