.wrap-request{
    
    // *{outline: solid red 1px;}

    .fae-form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: auto;

        &--group {
            display: flex;
            flex-direction: row;
            margin: 0.5rem 0rem;
            width: 80%
        }

        &--group div {
            width: 100%;
            margin: 0rem 1rem;
        }

        &--item {
            display: flex;
            flex-direction: column
        }

        &--contact {
            width: 80%;
            margin: 1rem;
            padding: 0.25rem 0.5rem;
            background-color: rgba(0,0,0,0.25);
            color: rgba(0, 0, 0, 1);
            text-align: center
        }

        &--required {
            color: red;
            // font-size: 15px;
        }

        &--submit {
            margin: 1rem 0rem 0rem 0rem;
        }
        label {
            font-size: 0.75rem;
            font-weight: 400;
            color: rgb(0, 0, 0, 0.5);
            margin: 0 0 0.25rem 0;
        }

        input, select, button {
            
            font-size: 2px;
            border: solid 1px rgba(128, 128, 128, 0.329);
            height: 2.5rem;
            // border: solid 2px rgba(100,200,255,0.5);
            border-radius: 0.25rem;
            padding: 0rem 2rem;
            // background-color: rgba(128, 255, 128, 0.05)
            background-color: white;
            // box-shadow: 2px 2px 5px 0px rgba(225, 225, 225, 0.7);
        }
        

        textarea {
            border-width: 0;
            // border: solid 2px rgba(100,200,255,0.5);
            border-radius: 1rem 1rem 0rem 1rem;
            // background-color: rgba(128, 255, 128, 0.05);
            // height: 10rem;
            height: 100%;
            padding: 1rem 2rem;
            // box-shadow: 2px 2px 5px 0px rgba(225, 225, 225, 0.7);
        }
        input:focus, select:focus, textarea:focus{
            border: solid 1px rgba(128, 128, 128, 1);
            outline: none;
            position: relative;
            transform: scale(1.02);
            // background-color: rgba(255,255,255,0.25);
        }
        ::placeholder {
            color: rgba(128, 128, 128, 0.5);
            // font-size: 1rem;
        }

        button {
            // background-color: rgba(135, 250, 250, 0.75);
            font-weight: 600;
            /*color:white;*/
        }

        br {
            content: "";
            margin: 1em;
            display: block;
            font-size: 24%;
        }
    }
}
